.container {
  width: 100%;
  max-width: 1400px;
  min-height: 300px;
  padding: 50px 100px;

  @media (--desktop-min) {
    padding: 50px 45px;
  }

  @media (--tablet-large) {
    max-width: 900px;
  }

  @media (--mobile) {
    padding: 50px 25px;
  }
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @media (--desktop-min) {
    justify-content: space-around;
  }

  @media (--tablet-large) {
    gap: 0;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.paginator {
  background: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-cotent: center;
  align-items: center;
}
