:root {
  --colorRaMBrown1: #faf1d3;
  --colorRaMBrown2: #e7d6c3;
  --colorRaMBrown3: #f4ebe1;
  --colorRaMBrown4: #e2b77a;
  --colorRaMBrown5: #fbf5de;
  --colorRaMPurple: #c4b4ca;
  --colorGrey1: #7d7d7d;

  --badgeRed: #d63d2e;
  --badgeGreen: #55cc44;
  --badgeGrey: #9e9e9e;
}
